<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V.A.G.U.E. Search</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
        <!-- Header Container -->
    <div class="header-container">
        <header>
            <a class="logo" href="{{ url_for('home') }}">V.A.G.U.E.</a>

            <form class="search-bar" method="GET" action="/results">
              <input type="text" name="query" placeholder="Type something" id="user-query" autofocus>
              <input type="submit" id="search-button" value="Search">
            </form>
        </header>
    </div>
    
    <div class="body-container">
        <p> some about content </p>
    </div>

    <footer>
        <a action="{{ url_for('about') }}">About</a>
        <a href="https://github.com/lisalmrdl/VAGUE">Github</a>
        <p>&copy; 2026 V.A.G.U.E. All rights reserved.</p>
    </footer>
</body>
</html>

