<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V.A.G.U.E. Search</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/js/visuals.js"></script>
</head>
<body>
        <!-- Header Container -->
    <div class="header-container">
        <header>
            <a class="logo" href="{{ url_for('home') }}">V.A.G.U.E.</a>

            <form class="search-bar" method="GET" action="/results">
              <div class="mode-toggle">
                <label class="mode-button">
                  <input type="checkbox" name="literal" value="literal" id="literal-toggle">
                  <span class="lit">LITERAL</span>
                  <span class="neu">NEURAL</span>
                </label>
              </div>
              <input type="text" name="query" placeholder="Type something" id="user-query" maxLength="200" autofocus>
              <input type="submit" id="search-button" value="Search">
            </form>
        </header>
    </div>
    
    <div class="body-container">
        <h2>Thanks for trying out V.A.G.U.E.!</h2>
        <p>This project was developed as part of the <b class="accent">Building NLP Applications</b> course at the University of Helsinki.</p>
        <p>The goal was to understand and apply NLP and information retrieval strategies such as Boolean search, TF-IDF, and neural search, by implementing a simple search engine.</p>
        <p>We also used data visualization and user experience (UX) design techniques to make the website more accessible and engaging.</p>
        <p>The project was implemented in Python and relies on libraries such as Pandas, NumPy, Flask, Matplotlib, sqlite3, Sentence Transformers, and scikit-learn.</p>
        <h4>Team Members:</h4>
        <ul>
          <li>Ina Goettling</li>
          <li>Ivan Montejo de Garcini</li>
          <li>Lisa Lemardelé</li>
          <li>Suchanya Limpakom</li>
        </ul>
    </div>

    <footer>
        <a action="{{ url_for('about') }}">About</a>
        <a href="https://github.com/lisalmrdl/VAGUE">Github</a>
        <p>&copy; 2026 V.A.G.U.E. All rights reserved.</p>
    </footer>
</body>
</html>

