<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V.A.G.U.E. {{ game.id }}</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/styles-games.css">
</head>
<body>
  <!-- Header Container -->
  <div class="header-container">
    <header>
      <a class="logo" href="{{ url_for('home') }}">V.A.G.U.E.</a>

      <form class="search-bar" method="GET" action="/results">
        <input type="text" name="query" placeholder="Type something" id="user-query" autofocus>
        <input type="submit" id="search-button" value="Search">
      </form>
    </header>
  </div>
  <div class="body-container">
    <h1>{{ game.name }}</h1>
    {% if game.img %}
    <div class="game-image">
      <img src="{{ game.img }}" 
          alt="{{ game.name }} cover" 
          class="game-cover"
          onerror="/static/img/placeholder.png">
    </div>
    {% endif %}
    <div class="game-layout">
      <div class="game-description">
        {{ game.desc | safe }}
      </div>
      <div class="game-details">
        <div class="genres">
          <p><b>Tags:</b></p>
          <ul class="genres-list">
            {% for genre in game.genres.split(",") %}
          <li class="tag">{{ genre.strip() }}</li>
          {% endfor %}
          </ul>
        </div>
        <table class="game-meta-table">
          <tbody>
            <tr>
              <th>User Rating:</th>
              <td>{{ game.rating }}</td>
            </tr>
            <tr>
              <th>Release date:</th>
              <td>{{ game.date }}</td>
            </tr>
            <tr>
              <th>Developers</th>
              <td>{{ game.devs }}</td>
            </tr>
            <tr>
              <th>Publishers</th>
              <td>{{ game.pubs }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer>
    <a href="{{ url_for('about') }}">About</a>
    <a href="https://github.com/lisalmrdl/VAGUE">Github</a>
    <p>&copy; 2026 V.A.G.U.E. All rights reserved.</p>
  </footer>
</body>
</html>
