<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V.A.G.U.E. {{ game.id }}</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
  <!-- Header Container -->
  <div class="header-container">
    <header>
      <a class="logo" href="{{ url_for('home') }}">V.A.G.U.E.</a>

      <form class="search-bar" method="POST" action="/results">
        <input type="text" name="query" placeholder="Type something" id="user-query" autofocus>
        <input type="submit" id="search-button" value="Search">
      </form>
    </header>
  </div>
  <div class="body-container">
    <h1>{{ game.name }}</h1>
    {% if game.img %}
    <div class="game-detail-image">
      <img src="{{ game.img }}" 
         alt="{{ game.name }} cover" 
         class="game-cover"
         onerror="this.src='/static/img/placeholder.jpg';">
    </div>
    {% endif %}
    <p><strong>Genres:</strong> {{ game.genres.split(",") }}</p>
    <p><strong>Rating:</strong> {{ game.rating }}</p>
    <p><strong>Release date:</strong> {{ game.date }}</p>
    <p><strong>Developers:</strong> {{ game.devs }}</p>
    <p><strong>Publishers:</strong> {{ game.pubs }}</p>

    <div class="game-description">
        {{ game.desc | safe }}
    </div>

  </div>
  <footer>
    <a href="{{ url_for('about') }}">About</a>
    <a href="https://github.com/lisalmrdl/VAGUE">Github</a>
    <p>&copy; 2026 V.A.G.U.E. All rights reserved.</p>
  </footer>
</body>
</html>
