h1 {
    margin-bottom: 0;
    margin-block-start: 0.5em;
}
.body-container {
    margin: 0px 30px 0px 25px;
}
.game-layout {
    display: flex;
    flex-direction: row;  
    gap: 5%;
    justify-content: space-between;
    padding: 10px;
}
.game-image {
    /* flex: 55%; */
    width: 100%;
    padding-top: 15px;
    height: 70vh;
    overflow: hidden;
}
.game-image img {
    transform: translateY(-20%);
    object-fit: cover;      /* crop to fit container */
    object-position: center; /* crop center vertically */
}
.game-cover {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    /* box-shadow: 0 6px 18px rgba(0,0,0,0.15); */
}
.game-details {
    flex: 30%;
    text-align: right;
    margin-right: 5px;
    /* padding: 5px 10px; */
    /* border: 1px solid var(--color-accent-r);
    border-radius: 12px; */

}
.game-description {
    flex: 85%;
}
.genres p {
  text-align: left;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
  font-size: 1.1em;
}
.genres-list {
  margin-block-start: 0;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.tag {
  background: var(--color-accent-lr);
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.85em;
}

.game-meta-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}
.game-meta-table th {
  text-align: left;
  font-weight: 500;
  color: #666;
  padding: 3px 0;
  width: 120px;
  vertical-align: top;
}

.game-meta-table td {
  padding: 3px 0;
  font-weight: 500;
}

.game-meta-table tr {
    border-bottom: 1px solid #eee;
}

/* dynamic sizing */
@media (max-width: 750px) {
    .game-layout {
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
    }
    .genres p {
      display: none;
    }
    .genres {
      margin-block-start: 0.5em;
    }
    .game-image {
        max-height: 40vh;
    }
}

.game-recs h2 {
  margin-bottom: 10px;
  color: var(--color-mono-b);
}

.similar {
    margin-bottom: 30px;
}

.similar h3 {
  font-size: 1.1em;
  margin-bottom: 15px;
  color: var(--color-mono-b);
}

/* Results grid */
.similar-results ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Individual card */
.rec-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
}

.rec-card img {
  width: 80%;
  border-radius: 8px;
  border: 1px solid var(--color-mono-b);
}

.rec-title {
  margin-top: 6px;
}
/* .body-container h1 { */
/*     margin-bottom: 10px; */
/* } */

/* .body-container p { */
/*     max-width: 800px; */
/*     line-height: 1.5; */
/* } */

/* .game-description h1,  */
/* .game-description h2,  */
/* .game-description h3 { */
/*     margin: 15px 0 8px 0; */
/*     font-weight: bold; */
/* } */

/* .game-description p { */
/*     margin-bottom: 10px; */
/* } */
