<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>V.A.G.U.E. Search</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
        <!-- Header Container -->
    <div class="header-container">
        <header>
            <a class="logo" href="search.html">V.A.G.U.E.</a>

            <form class="search-bar" method="POST" action="/results">
              <input type="text" name="query" placeholder="Type something" id="user-query">
              <input type="submit" id="search-button" value="Search">
            </form>
        </header>
    </div>
    
    <div class="body-container">
        <main>
            <div class="results">
                <div class="results-header"> 
                    <div class="results-count">{{ num_results }} results for "{{ query }}"</div>
                    <!-- <div class="extra-actions">
                        <button class="filter-button">filter</button>
                        <button class="filter-button">filter</button>
                    </div> -->
                </div>

                <div class="results-body">
                    <div class="game-results">
                    <div class="game-card">
                        <!-- <div class="game-thumbnail">placeholder</div> -->
                        <div class="game-info">
                            <div class="game-title">Amazing Game (2002)</div>
                            <div class="game-publisher">Publisher</div>
                            <div class="game-genres">
                                <span class="genre">Genre 1</span>
                            </div>
                        </div>
                        <div class="game-rating">2.3</div>
                    </div>
                    <div class="game-card">
                        <!-- <div class="game-thumbnail">placeholder</div> -->
                        <div class="game-info">
                            <div class="game-title">Amazing Game 2 (2022)</div>
                            <div class="game-publisher">Publisher</div>
                            <div class="game-genres">
                                <span class="genre">Genre 1</span>
                                <span class="genre">Genre 2</span>
                                <span class="genre">Genre 3</span>
                            </div>
                        </div>
                        <div class="game-rating">1.9</div>
                    </div>
                    </div>
                    <div class="metadata-view">
                        Here be the game description.
                    </div>
                </div>                
            </div>
        </main>
    </div>

    <footer>
        <a href="about.html">About</a>
        <a href="https://github.com/lisalmrdl/VAGUE">Github</a>
        <p>&copy; 2026 V.A.G.U.E. All rights reserved.</p>
    </footer>
</body>
</html>

